.goBtn {

    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    width: fit-content;
    background-color: var(--body-light);
    padding: 5px 25px;
 
    border: 1px solid var(--nav-light);
}
@media (max-width:900px) {
    .country-img {
        width: 350px !important;
    }
}
@media (max-width:750px) {
    .country-img {
        width: 300px !important;
    }
    .contain {
      
        flex-direction: column;
    }
    .text {
        flex-direction: column;
    }
    .buts {
        flex-wrap: wrap;
    }
}