

.navbar {
    padding: 20px;
    background-color: var(--nav-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    color: var(--text-light);
    cursor: pointer;
    
}

.dark-mood {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 15px;
    border: 1px solid var(--btn-light);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    color: var(--text-light);
    transition: .6s;
    font-size: 15px;
    font-weight: 700;
}
.dark-mood:hover {
    border-color: var(--text-light);
}